.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(50% 40% at 50% 39%, #462AB3 0%, rgba(255, 255, 255, 0.1) 100%);
  
 
  
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  padding-top: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}


.menu > div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}


.menu > div a {

  font-weight: 400;
  text-decoration: underline;
  color: #000;
}

.menu > div > button {
  border: 0;
  background: transparent !important;
  font-weight: 100;
  cursor: pointer;
}

.menu > div > button > img {
  width: 2rem;
}


.menu > h1 {
    font-size: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a, .menu a{
  color: #243697;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-top: 1rem;
  line-height: 1.15;
  font-size: 4.5rem;
  background: linear-gradient(265.25deg, #243697 17.33%, #26142C 73.8%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  margin-top: .5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 600;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.grid img {
  background: radial-gradient(50% 50% at 50% 50%, #D776EF 0%, rgba(215, 118, 239, 0) 100%);
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.form {
  display: flex;
  margin-top: 4rem;
  gap: .2rem;
}

.form > input[type="email"] {
 
  padding: 14px;
  padding-block: 10px;
  background: #FFFFFF;
  border: 2px solid #777777;
  border-radius: 6px;
  color: #777777;
  font-family: inherit;
  font-weight: 600;
}

.form > input[type="submit"] {
  border: 0;
  border-radius: 6px;
  background: #243697;
  color: #fafafa;
  font-family: inherit;
  font-weight: 700; 
  padding: 14px;
  padding-block: 10px;
  cursor: pointer;

 
}




@media (max-width: 600px) {
  .container {
    width: fit-content;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .description {
    font-size: 1rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .menu {
    width: 90vw;
  }
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
